
 @media (max-width: 768px) {
     .offcanvas {
          display: none;
     }

     .offcanvas.show{
          display: block;
     }
 }

 @media (max-width: 769px) {
     .offcanvas.show{
          display: block;
     }
 }

 @media (min-width: 770px) and (max-width: 1200px) {
    .offcanvas{
        display: block;
   }

   .total-card{
       width: 50%;
   }

   .avatar-title{
       background: none;
       color: #1560bd;
   }

   .chart-card{
    width: 100%;
   }
   .report-card{
    width: 100%;
   }
}

 @media (max-width: 1400px) {
     .balance-card{
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          height: 120px;
      }

      .balance-card, h2{
          font-size: 24px;
      }

      .balance-card, h5{
          font-size: 15px;
          font-weight: 600;
      }
 }

 @media (min-width: 360px) and (max-width: 1200px) {
    .total-card{
        margin-bottom: 5px;
    }
}

@media (max-width: 1600px){
    .avatar-title{
        height: 40px;
        width: 40px;
        border-radius: 100% !important;
    }

    .icon{
        font-size: 20px;
    }

    .text-truncate{
        font-size: 14px;
    }

    .prescription-remove-btn small {
        margin-left: 3px;
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-width: 1920px){
    .avatar-title{
        height: 40px;
        width: 40px;
        border-radius: 100% !important;
    }

    .icon{
        font-size: 20px;
    }

    .text-truncate{
        font-size: 14px;
    }
}