
 @media (max-width: 768px) {
     .hc-siderbar-wrap {
          display: none;
     }

     .hc-siderbar-wrap.show{
          display: block;
     }
 }

 @media (max-width: 769px) {
     .hc-siderbar-wrap.show{
          display: block;
     }
 }

 @media (min-width: 770px) and (max-width: 1200px) {
    .hc-siderbar-wrap{
        display: block;
   }

   .total-card{
       width: 50%;
   }

   .avatar-title{
       background: none;
       color: #1560bd;
   }

   .chart-card{
    width: 100%;
   }
   .report-card{
    width: 100%;
   }
}

 @media (max-width: 1400px) {
     .balance-card{
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          height: 120px;
      }

      .balance-card, h2{
          font-size: 24px;
      }

      .balance-card, h5{
          font-size: 15px;
          font-weight: 600;
      }

      
 }

 @media (min-width: 360px) and (max-width: 1200px) {
    .total-card{
        margin-bottom: 5px;
    }
}

@media (min-width: 360px) and (max-width: 1800px) {
    .prescription-add-btn i{
        margin-left: 9px;
      }
}

@media (min-width: 320px) and (max-width: 800px) {
    .page-directory{
        display: none;
    }

    .custom-profile-dropdown-name{
        display: none;
    }

    .dropdown-toggle::after{
        display: none;
    }

    div.dataTables_wrapper div.dataTables_filter label{
        margin-top: 5px !important;
    }

    .select2 {
        width:100%!important;
    }

    li.paginate_button.previous {
        display: inline;
    }
 
    li.paginate_button.next {
        display: inline;
    }
 
    li.paginate_button {
        display: none;
    }

    #from_date{
        width: 100%;
    }

    #to_date{
        width: 100%;
        margin-top: 2px;
    }

    .date-filtering{
        margin-bottom: 10px;
    }

    #filter-btn{
        margin-top: 5px;
    }

    #refresh-btn{
        margin-top: 5px;
    }

    #payment_type{
        width: 100%;
        margin-top: 2px;
    }

    .dashboard-chart{
        height: 156px;
    }

    .hc-header-title{
        font-size: 12px;
    }

    .expanse-box{
        position: relative;
        left: 14%;
        width: 180px;
        margin-bottom: 5px;
        height: 40px;
        font-size: 14px;
    }

    .email-btn{
        height: 30px;
        font-size: 10px;
    }

    .admin-profile{
        margin-top: 5px;
    }

    .total-card{
        margin-top: 5px;
    }

    .prescription-add-btn{
       width: 63px;
    }

    .prescription-remove-btn{
        width: 63px;
    }

    .prescription-remove-btn small{
        margin-left: 12px !important;
    }
}

@media (max-width: 1600px){
    .avatar-title{
        height: 40px;
        width: 40px;
        border-radius: 100% !important;
    }

    .icon{
        font-size: 20px;
    }

    .text-truncate{
        font-size: 14px;
    }

    .prescription-remove-btn small {
        margin-left: 3px;
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-width: 1920px){
    .avatar-title{
        height: 40px;
        width: 40px;
        border-radius: 100% !important;
    }

    .icon{
        font-size: 20px;
    }

    .text-truncate{
        font-size: 14px;
    }
}