
 @media (max-width: 768px) {
     .offcanvas {
          display: none;
     }

     .offcanvas.show{
          display: block;
     }
 }

 @media (max-width: 769px) {
     .offcanvas.show{
          display: block;
     }
 }

 @media (max-width: 1400px) {
     .balance-card{
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          height: 120px;
      }

      .balance-card, h2{
          font-size: 24px;
      }

      .balance-card, h5{
          font-size: 15px;
          font-weight: 600;
      }
 }