@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --light-gray-color: #505050;
    --pure-white-color: #ffffff;
    --dark-blue-color: rgb(0, 13, 83);
    --pastel-grey-color: #ccc;
    --wheat-color: wheat;
    --azure-color: #0f9cf3;
    --medical-blue-color: #1560BD;
    --gradient-color: linear-gradient(to right, #ff5f6d, #ffc371);
    --footer-gradient-color: #ED1B24;
    --header-gradient-color: #ED1B24;
    --card-total-appointment-gradient-color: linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%);
    --card-today-appointment-gradient-color: linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
    --card-department-gradient-color: linear-gradient(135deg, #b1ea4d 0%,#459522 100%);
    --card-doctors-gradient-color: linear-gradient(135deg, #F5515F 0%,#A1051D 100%);
}
*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}

.card p{
    font-weight: 600;
}

.brand-name{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
    margin: 0;
    color: var(--pure-white-color);
}
.brand-sm-logo {
    width: 55px;
}
.sidebar ul li,
.sidebar ul li a {
    color: var(--pure-white-color);

}
.menu-title {
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 600;
    color: var(--pure-white-color);
}
.nav .nav-item {
    font-weight: 500;;
}
.menu-title{
    padding-left: 10px;
}
.nav .nav-item a{
    padding-left: 20px;
}
.nav .nav-item .nav-link:hover {
    background-color: var(--pure-white-color);
    color: var(--dark-blue-color);
}
.nav-item.profile {
    right: 0;
    position: fixed;
}
.btn-hambar {
    padding-block: 0 !important;
}
.btn-hambar .bi-list {
    font-weight: 600;
    font-size: 1.4rem;
}
.offcanvas.show {
    background: var(--medical-blue-color);
    width: 250px !important;
}
.offcanvas.show:not(.hiding){
    min-height: 100vh;
    position: unset !important;
}
.offcanvas-body {
    overflow: auto;
    padding: 0 !important;
}
.icon {
    font-size: 2rem;
    padding: 0 10px;
}
.main-wrapper{
    display: flex;
}
.wrapper {
    flex: 1;
    overflow: hidden;
}
.main{
    padding-inline: 14px;
}
.dropup .dropdown-menu > li {
    padding: 3px 0;
}
.dropup .dropdown-menu > li:hover {
    background-color: var(--wheat-color);
}
.page-directory > a,
.copyright-text > a {
    color: var(--light-gray-color);
}
.avater-sm {
    height: 3rem;
    width: 3rem;
}
.avatar-title {
    color: var(--pure-white-color);
    display: flex;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    background: var(--medical-blue-color);
    padding: 10px;
}

.bg-footer{
    background: var(--footer-gradient-color);
    color: white;
}

.bg-header{
    background: var(--medical-blue-color);
    color: white;
}

.dropup{
    margin-left: 73px;
    padding: 5px;
    cursor: pointer;
}

.dropup img{
    height: 35px;
    width: 35px;
}

.dropup a{
    color: black;
    font-weight: 600;
}

.dashboard-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.today-appointment{
    background: var(--card-today-appointment-gradient-color);
}

.departments{
    background: var(--card-department-gradient-color);
}

.doctors{
    background: var(--card-doctors-gradient-color);
}

.avatar-size{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.mb-25{
    margin-bottom: 25px;
}

.date-filtering{
    width: 70%;
    margin: auto;
}

.filter-btn{
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    cursor: pointer;
    color: white;
}

.date-filtering button{
    border: none;
}

.refresh-btn{
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    cursor: pointer;
    color: white;
}

/* Button area start  */
         
.btn-add {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 3px;
    padding: 7px 23px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
  }

  .btn-add:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

           
  .btn-manage {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    margin: 3px;
    padding: 7px 23px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
  }

  .btn-manage:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

           
  .btn-submit {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 3px;
    padding: 7px 23px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
  }

  .btn-submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .append-btn{
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: -1px;
    padding: 7px 23px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    cursor: pointer;
  }

  .danger-btn{
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: -1px;
    padding: 7px 23px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    cursor: pointer;
  }

  .edit-btn{
    color: #12D8FA;
    height: 40px;
    width: 40px;
    padding: 5px;
  }

  .view-btn{
    color: #faa912;
    height: 40px;
    width: 40px;
    padding: 5px;
  }

  .delete-btn{
    color: #DD2476;
    height: 40px;
    width: 40px;
    padding: 5px;
  }

  .badge-active{
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    padding: 4px 20px;
    border-radius: 16px;
    color: white;
    font-weight: 600;
  }

  .badge-inactive{
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    padding: 4px 15px;
    border-radius: 16px;
    color: white;
    font-weight: 600;
  }

  /* Button area end */

  /* Others css start */
 
  .custom-font-size{
    font-size: 14px;
  }

  .sl-width{
    width: 10%;
  }

  .details-view-avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid red;
    padding: 5px;
  }

  .doctor-details {
    display: flex; /* Display flex to arrange items horizontally */
    align-items: center; /* Center items vertically */
    position: relative;
    left: 30%;
    right: 50%;
}

.details-info span {
    display: block; /* Display spans as block elements */
    font-family: fantasy;
}

.details-info .name {
    font-weight: bold; /* Make the name bold */
}

.doctor-other-details {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap to the next line */
}

.column {
    width: calc(100% / 3); /* Each column takes up 1/3 of the container width */
    padding: 0 10px; /* Add padding to create space between columns */
}

.column span{
    text-align: justify;
    font-family: fantasy;
}

.column-full{
    width: 100%;
}

.column-full span{
    text-align: justify;
    font-family: fantasy;
}

.detail {
    display: block;
    margin-bottom: 10px;
}

.view-card-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.message-body{
    height: 350px;
    overflow: scroll;
    justify-content: space-between;
}

.sent-messages {
    flex: 1;
    padding-right: 10px; /* Add spacing between sent and received messages */
}

.received-messages {
    flex: 1;
    padding-left: 10px; /* Add spacing between sent and received messages */
}

.message {
    margin-bottom: 10px; /* Add vertical spacing between messages */
}

.sent-message {
    text-align: left;
}

.received-message {
    text-align: right;
    margin-right: 10px;
}
 
 
/* Others css end */



/* Custom css start */
/* Header section css start */
.sidebar-toggle-btn {
    background: transparent;
    border: none;
}

.sidebar-toggle-btn i {
    font-size: 30px;
    color: #fff;
} 

.custom-profile-dropdown {
    position: relative;
    margin-left: 20px;
    height: 100%;
    cursor: pointer;
    user-select: none;
}

.custom-profile-dropdown-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 1000%;
    margin-right: 5px;
}

.custom-profile-dropdown-name {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.custom-profile-dropdown-menu {
    right: 0;
    top: 45px!important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0;
}

.custom-profile-dropdown-menu li a {
    padding: 5px 10px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    transition: all .5s ease;
}

.custom-profile-dropdown-menu li a:hover {
    background: #e2e2e2;
}
/* Header section css End */

/* Sidebar css start */
.nav-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-list-item-link {
    display: block;
    padding: 8px;
    color: var(--pure-white-color);
    font-size: 15px;
    font-weight: 600;
    transition: all .5s ease;
}

.nav-list-item.active .nav-list-item-link,
.nav-list-item-link:hover {
    background: var(--pure-white-color);
    color: #000;
}

.submenu-list {
    padding-left: 35px;
    background: #3374c5;
    transition: all .5s ease;
}

.nav-list-item-link i {
    font-size: 15px;
    margin-right: 5px;
}

.nav-list-item-link .fa-chevron-down {
    transition: all .5s ease;
    margin-right: 0;
    transform: rotate(270deg);
    font-size: 14px;
}

.nav-list-item.has-submenu.active .nav-list-item-link .fa-chevron-down {
    transform: rotate(180deg);
}

.submenu-list-item-link {
    padding: 5px 0;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--pure-white-color);
}
/* Sidebar css End */
/* Custom css End */






/* table css start */

.table_main{
    background: var(--pure-white-color);
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    width: 100%;
}

.table-sl{
    width: 10%;
}

.table-action{
    width: 15%;
}

@media only screen and (min-width: 1360px){
.table_main{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; 
    padding: 24px;
}
}
.dataTables_filter {
float: right;
}

@media only screen and (min-width: 768px) {
.table {
    table-layout: fixed;
    max-width: 100% !important;
}
}

.table td:nth-child(2) {
overflow: hidden;
text-overflow: ellipsis;
}

.highlight {
background: var(--wheat-color);
}

@media only screen and (max-width: 767px) {
table,
thead,
tbody,
th,
td,
tr {
    display: block;
}
  
thead tr,
tfoot tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

td {
    border: none;
    border-bottom: 1px solid var(--pure-white-color);
    position: relative;
    padding-left: 50% !important;
}

td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
}

.table td:nth-child(1) {
    background: var(--pastel-grey-color);
    height: 100%;
    top: 0;
    left: 0;
    font-weight: bold;
}

/*
Label the data
*/
td:nth-of-type(1):before {
    content: "Name";
}

td:nth-of-type(2):before {
    content: "Position";
}

td:nth-of-type(3):before {
    content: "Office";
}

td:nth-of-type(4):before {
    content: "Age";
}

td:nth-of-type(5):before {
    content: "Start date";
}

td:nth-of-type(6):before {
    content: "Salary";
}

.dataTables_length {
    display: none;
}
}
/* table css end */
